body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CS171CFDG";
  src: local("CS171CFDG"), url("./fonts/CS171Regular.otf") format("opentype");
}

.font-cfdg {
  font-family: "CS171CFDG";
}
